
/*slider*/
.ui-slider {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-family: segoe ui, Arial, sans-serif;
	font-size: 1.1em;
	background: #D2E6F3;
	border: 1px solid #aaaaaa;
	height: .8em;
	position: relative;
	width:350px;
}
.ui-slider-handle {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	position: absolute;
	z-index: 2;
	top: -3px;
	width: 1.2em;
	height: 1.2em;
	background: #027AC6;
	border: 1px solid #ffffff;
	-moz-border-radius:0.4em;
	-webkit-border-radius:0.4em;
}
.ui-slider-handle:hover {
	background: #0062A0;
	border: 1px solid #999999;
}
.ui-slider-range {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	height: .8em;
	background: #2293f7;
	position: absolute;
	border: 1px solid #ffffff;
	border-left: 0;
	border-right: 0;
	top: -1px;
	z-index: 1;
	opacity:.7;
	filter:Alpha(Opacity=70);
}

/*Tabs*/
.ui-tabs-hide {
  display:none;
}


